body {
	background-color: darkblue;
	color: white;
	font-family: serif;
	margin:0;
}
@keyframes spin{ /* cohost combatibility animation */
  100%{
	transform:rotate(360deg)
  }
}
.layout{
  display:flex;
}
.mobilewarning{
  color:red;
  height:64px;
  background-color:#fff2ce;
  position:absolute;
  z-index:999;
}
@media (min-width: 550px){
  .mobilewarning{
	height:0px;
	width:0px;
	opacity:0;
	font-size:0;
	top:-999px;
  }
}
.topdiv{ /* title area */
  margin:0;
  height:64px;
  background-color:#fff2ce;
  color:black;
  text-align:center;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  align-items:flex-start;
  align-content:flex-start;
}
.topdiv h1{
  margin:0
}
.infomenu{ /* area for object-specific info (like keyframes)*/
  background-color:grey;
  border-bottom:4px ridge #fff2ce;
  width:calc(100% - 394px);
  height:390px;
  position:relative;
}
.infomenu button{
  appearance:none;
  padding:0;
  position:absolute;
  right:0;
  bottom:0;
}
p{margin:0;font-family:MS Gothic}
.obj-info{
  background-color:#aaa;
  border-radius:8px;
  padding:8px;
}
.playback{ /* area for play button and other buttons */
  height:32px;
  background-color:grey;
  border-bottom:4px ridge #fff2ce;
	display:flex;
	flex-direction:row-reverse;
	padding-right:64px;
}
.playback button{
	appearance:none;
	width:32px;
	height:32px;
	padding:0;
}
.timeline{ /* area for timing keyframes and scenes */
  height:400px;
  background-color:gray;
}
.projector{ /* area for previewing the 'movie' */
  width:390px; /* 381px is the ACTUAL minimum width of a cohost post */
  height:390px;
  background-color:white;
  position:absolute;
  right:0;
  border-left:4px ridge #fff2ce;
  border-bottom:4px ridge #fff2ce;
  overflow:hidden;
  font-family:Atkinson Hyperlegible;
}
.flacss-obj{
  color:black;
  position:absolute;
}
